:root {
    --first-color: #ffffff;
    --second-color: #141010;
    --third-color: #f7e8e8;
    --fourth-color:#f2f9f1;
    --fifth-color: #d8d8d8;
    --heading-fonts: 'Anton', sans-serif;
    --sub-heading-fonts: 'Judson', serif;
    --sub-heading-fonts-1:'Suez One', serif;
    --body-fonts: 'Lato', sans-serif;
  }

  input{
    padding-right: 300px;
}



label a{
    text-decoration: none;
    font-weight: bolder;

}


h3{
    font-weight: bolder;
}

form{
    opacity: 0.8;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 100px;
    padding-left: 70px;
    margin-bottom: 200px;
    font-family: var(--body-fonts);
    margin-left: 600px;
    margin-bottom: 300px;
    margin-top: 150px;
    margin-right:600px;
    background-color: var(--second-color);
    color: var(--first-color);
}

label{
    text-align: left;
    font-weight: bolder;
}


.login-form{
    background-image:url(../media/login-bg-1-1.jpg) ;
    margin-top:300px;
    padding: 50px;


}


.login-form p{margin-top: 65px;
}


.create-acct{
color: var(--first-color);
text-decoration: none;
}

button{

    padding-right: 80px;
    padding-left: 80px;
    display: block;
   position: relative;
   top:-130px;
	right: -110px;
    opacity: 1;
    text-align: center;
    background-color: var(--first-color);
    color: var(--second-color);
    font-weight: bold;
    font-family: var(--sub-heading-fontsheading-fonts);
    font-size: 25px;
    border-radius: 5px;
     transition:0.3s ;

}

button:hover{
    background-color: var(--second-color);
    color:var(--first-color);
    font-size: 30px;

}

.signup-btn{
    position: relative;
   top:3px;
	right: -70px;
    margin-bottom: 10px;
    padding-right: 70px;
    padding-left: 70px;
}

a:hover{
    color: var(--first-color);
}