<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
    crossorigin="anonymous"
  />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anton&family=Judson:ital,wght@0,400;0,700;1,400&family=Lato:ital,wght@0,100;0,300;1,100;1,300&family=Suez+One&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../css/styles.css">
<link rel="stylesheet" href="../css/menu.css">
<script
src="https://kit.fontawesome.com/7fe8d89f56.js"
crossorigin="anonymous"
></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
</head>
<body>

<div th:replace="fragrams/header :: header" />

<section class="menu-hero">
    <div><img src="../media/pool.jpg" class="menu-hero-pic" alt="pasta-dish" width="1920px"></div>
</section>
<div class=" menu container-fluid text-center">
<section class="menu-head">
<h2>OUR SERVICES</h2>
<h3>MASSAGE</h3>
</section>

<section class="menu-list">
  <div class="breakfast">
<!--  <ul>-->
    <li>Swedish massage</li>
    <li>Thai massage</li>
    <li>Sports massage</li>
    <li>Deep tissue massage</li>
    <li>Shiatsu massage</li>
    <li>Lymphatic drainage massage</li>
    <li>Reflexology</li>
<!--  </ul>-->
</div>



</section>
</div>
    <div th:replace="fragrams/footer :: footer"/>


</body>

</html>


